rumus pytagoras

c/2 = a/2 + b/2

c/2 = 2/2 + 2/2

c/2 = 4 + 4

c/2 = 8

2/2 = 2 * 2

In [ ]:
X1 = [40,50,50,70,80,60,50]
X2 = [5,8,7,4,4,6,3]
X3 = [60,40,30,60,80,60,40]


Y = ["TOLAK", "TERIMA"]